src/node_modules
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
docker/mac/nginx/ssl
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### IDE ###
.idea
src/_ide_helper*.php

### mac ###
.DS_Store
.AppleDouble
.LSOverride
